@{
    ViewData["Title"] = "Canciones";
}
  <link rel="stylesheet" href="/css/Canciones.css">

<header>
  
  <a href= '@Url.Action("Index", "Home")' alt = "Ir al "> Inicio</a>

  <div class="todoHeader">

    <h1> @ViewBag.VBDisco.Nombre</h1> 
   <h3>Artista:@ViewBag.VBDisco.Artista</h2>    
   <h3>Género:@ViewBag.VBDisco.Genero</h2>    
   <h3>Productor:@ViewBag.VBDisco.Productor</h2>      

   <img src="@ViewBag.VBDisco.Foto"alt=" foto del logo de la pagina ">
  </div>

</header>
<body>
  <div class="h2">
    <h2>Lista de Canciones</h2>
  </div>
  
  
    <ol>
      @foreach ( Canciones cancion in ViewBag.VBDisco.CancionesD1)
      {
        <li>@cancion.Nombre</li>        
      }
    </ol>
  
 
</body>